<!DOCTYPE html>
<html>

<head>
    <title>CryptoTracker - Purchase/Sell</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/buy-sell.css">
</head>

<body>
    <div class="header">
        <div><a href="/homepage">Homepage</a></div>
        <div><a href="/buy-sell">Buy/Sell Order</a></div>
        <div><a href="/transaction-history">Transaction History</a></div>
        <div><a href="/about-us">About Us</a></div>
        <div><a href="/">Logout</a></div>
    </div>


    <div class="content">

        <div class="content-children">

            <h1 class="column-title">Purchase Order</h1>
            <div class="content-description">Please enter the cryptocurrency information you purchased for recording
                purpose.</div>
            <div class="purchase-form">

                <form action="purchase-order" method="POST">
                    <label class="form-label">CRYPTOCURRENCY</label><br>
                    <input list="crypto_name" name="crypto_name" required>
                    <datalist id="crypto_name">
                        <option value="ADA">
                        <option value="ATOM">
                        <option value="AVAX">
                        <option value="BNB">
                        <option value="BTC">
                        <option value="CHZ">
                        <option value="DOGE">
                        <option value="DOT">
                        <option value="ENJ">
                        <option value="ETC">
                        <option value="ETH">
                        <option value="INJ">
                        <option value="LINK">
                        <option value="LTC">
                        <option value="MATIC">
                        <option value="SOL">
                        <option value="TRX">
                        <option value="USDT">
                        <option value="VET">
                        <option value="WIN">
                        <option value="XLM">
                    </datalist>
                    </input>
                    <br><br>
                    <label class="form-label">AMOUNT</label><br>
                    <input type="number" id="amount" name="amount" step="0.000001" min=0 required><br>
                    <label class="form-label">UNIT COST</label><br>
                    <input type="number" id="cost" name="cost" step="0.000001" min=0 required><br>
                    <label class="form-label">TRANSACTION DATE</label><br>
                    <input type="date" id="date" name="date" max='2999-12-31' required><br>
                    <button type="submit" class="btn">SUBMIT</button>
                </form>
                <div class="statusmsg">
                    {{{status_msg_purchase}}}
                </div>
            </div>


        </div>

        <div class="content-children">

            <h1 class="column-title">Sell Order</h1>
            <div class="content-description">Please enter the cryptocurrency information you sold for recording
                purpose.</div>
            <div class="sell-form">

                <form action="sell-order" method="POST">
                    <label class="form-label">YOUR CURRENT PORTFOLIO</label><br>

                    {{#each holding_amount_list}}
                    <input type="radio" id={{this.crypto_name}} name="crypto_name" value={{this.crypto_name}} required>
                    <label for={{this.crypto_name}}>{{this.crypto_name}}({{this.crypto_amount}})</label><br>
                    {{/each}}
                    <br>
                    <label class="form-label">AMOUNT</label><br>
                    <input type="number" id="amount" name="amount" step="0.000001" min=0 required><br>
                    <label class="form-label">UNIT COST</label><br>
                    <input type="number" id="price" name="price" step="0.000001" min=0 required><br>
                    <label class="form-label">TRANSACTION</label><br>
                    <input type="date" id="date" name="date" max='2999-12-31' required><br>
                    <button type="submit" class="btn">SUBMIT</button>
                </form>
                <div class="statusmsg">
                    {{{status_msg_sell}}}
                </div>

            </div>

        </div>


    </div>

    <div class="footer-main">
        <p class="footer-p"> If you want to purchase cryptocurrency, you may visit:</p>

        <a href="https://www.binance.com/en">
            <img src="/photo/binance.svg" height="60px" width="140px">
        </a>

        <a href="https://www.bitfinex.com/">
            <img src="/photo/bitfinex.svg" height="60px" width="140px">
        </a>

        <a href="https://www.coinbase.com/">
            <img src="/photo/Coinbase.svg" height="55px" width="140px">
        </a>
    </div>





</body>

</html>