<!DOCTYPE html>
<html>
<style>
    .purchase-form {
        border: 5px outset #2a6592;
    }

    .sell-form {
        border: 5px outset #2a6592;
    }
</style>

<body>



    <h2>Purchase Order</h1>
        <div class="purchase-form">

            <form action="purchase-order" method="POST">
                <legend>Cryptocurrency:</legend>
                <input list="crypto_name" name="crypto_name">
                <datalist id="crypto_name">
                    <option value="BTC">
                    <option value="ETH">
                    <option value="BNB">
                    <option value="VET">
                    <option value="LINK">
                    <option value="ADA">
                    <option value="XLM">
                </datalist>
                </input>
                <legend>Amount:</legend>
                <input type="number" id="amount" name="amount" step="0.000001" min=0>
                <legend>Unit Cost:</legend>
                <input type="number" id="cost" name="cost" step="0.000001" min=0>
                <br>
                <input type="submit">
            </form>
            {{{status_msg_purchase}}}
        </div>



        <h2>Sell Order</h1>
            <div class="sell-form">

                <form action="sell-order" method="POST">
                    <legend>Your Current Holdings (Amount):</legend>

                    {{#each holding_amount_list}}
                    <input type="radio" id={{this.holding}} name="crypto_name" value={{this.holding}}>
                    <label for={{this.holding}}>{{this.holding}}({{this.amount}})</label><br>
                    {{/each}}

                    <legend>Amount:</legend>
                    <input type="number" id="amount" name="amount" step="0.000001" min=0>
                    <legend>Unit Cost:</legend>
                    <input type="number" id="cost" name="cost" step="0.000001" min=0>
                    <br>

                    <input type="submit">
                </form>
                {{{status_msg_sell}}}
            </div>



            <br>
            <a href="/home">Click here to home</a>
</body>

</html>