<!DOCTYPE html>
<html lang="en">

<head>
    <title>CryptoTracker - Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>




    <div class="header">
        <div><a href="/homepage">Homepage</a></div>
        <div><a href="/buy-sell">Buy/Sell Order</a></div>
        <div><a href="/transaction-history">Transaction History</a></div>
        <div><a href="/about-us">About Us</a></div>
        <div><a href="/">Logout</a></div>
    </div>



    <div class="content">

        <div class="content-children">

            <div class="column-title">Your Portfolio</div>
            <table>
                <thead>
                    <tr>
                        <th class="tbl-header">Crypto Name</th>
                        <th class="tbl-header">Amount</th>
                        <th class="tbl-header">Price</th>
                        <th class="tbl-header">Value</th>
                        <th class="tbl-header">Cost</th>
                        <th class="tbl-header">Profit</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each cryptoholdings}}
                    <tr>
                        <td class="tbl-content">{{this.crypto_name}}</td>
                        <td class="tbl-content">{{this.crypto_amount}}</td>
                        <td class="tbl-content">{{this.crypto_price}}</td>
                        <td class="tbl-content">{{this.crypto_value}}</td>
                        <td class="tbl-content">{{this.crypto_cost}}</td>
                        <td class="tbl-content">{{this.crypto_profit}}</td>
                    </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>

        <div class="content-children">
            <div class="column-title">Real-Time Quotes</div>
            <table>
                <thead>
                    <tr>
                        <th class="tbl-header">Crypto Name</th>
                        <th class="tbl-header">Price</th>

                    </tr>
                </thead>
                <tbody>

                    {{#each all_crypto}}
                    <tr>
                        <td class="tbl-content">{{this.crypto_name}}</td>
                        <td class="tbl-content">{{this.crypto_price}}</td>

                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>

    </div>




    <div class="footer">
        <p>Footer</p>
    </div>

</body>

</html>