<!DOCTYPE html>
<html lang="en">

<head>
    <title>CryptoTracker - Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>




    <div class="header">
        <div><a href="/homepage">Homepage</a></div>
        <div><a href="/buy-sell">Buy/Sell Order</a></div>
        <div><a href="/transaction-history">Transaction History</a></div>
        <div><a href="/about-us">About Us</a></div>
        <div><a href="/">Logout</a></div>
    </div>



    <div class="content">

        <div class="content-children">

            <div class="column-title">Your Portfolio</div>
            <div class="scroller-half">
                <table>
                    <thead>
                        <tr>
                            <th class="tbl-header">Crypto Name</th>
                            <th class="tbl-header">Amount</th>
                            <th class="tbl-header">Price</th>
                            <th class="tbl-header">Value</th>
                            <th class="tbl-header">Cost</th>
                            <th class="tbl-header">Profit</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each cryptoholdings}}
                        <tr>
                            <td class="tbl-content">{{this.crypto_name}}</td>
                            <td class="tbl-content">{{this.crypto_amount}}</td>
                            <td class="tbl-content">{{this.crypto_price}}</td>
                            <td class="tbl-content">{{this.crypto_value}}</td>
                            <td class="tbl-content">{{this.crypto_cost}}</td>
                            <td class="tbl-content">{{this.crypto_profit}}</td>
                        </tr>
                        {{/each}}

                    </tbody>

                </table>
            </div>



            <div class="content-image">
                <div class="column-title">New Coins available!</div>


                <div class="slide-main">

                    <div class="slide-button-left">
                        <button class="btn" onclick="plusDivs(-1)">&#10094;</button>
                    </div>
                    <div class="slideshow">


                        <img class="NewCoins" src="/photo/cardano.svg">
                        <img class="NewCoins" src="/photo/dogecoin.svg">
                        <img class="NewCoins" src="/photo/litecoin.svg">
                        <img class="NewCoins" src="/photo/tether.svg">
                        <img class="NewCoins" src="/photo/vet.svg">


                    </div>

                    <div class=" slide-button-right">
                        <button class="btn" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>

            </div>





        </div>

        <div class="content-children">
            <div class="column-title">Real-Time Quotes</div>
            <div class=" scroller">
                <table>
                    <thead>
                        <tr>
                            <th class="tbl-header">Crypto Name</th>
                            <th class="tbl-header">Price</th>

                        </tr>
                    </thead>
                    <tbody>

                        {{#each all_crypto}}
                        <tr>
                            <td class="tbl-content">{{this.crypto_name}}</td>
                            <td class="tbl-content">{{this.crypto_price}}</td>

                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>

    </div>




    <div class="footer-main">
        <p class="footer-p"> If you want to purchase cryptocurrency, you may visit:</p>


        <a href="https://www.binance.com/en">
            <img src="/photo/binance.svg" height="60px" width="140px">
        </a>

        <a href="https://www.bitfinex.com/">
            <img src="/photo/bitfinex.svg" height="60px" width="140px">
        </a>

        <a href="https://www.coinbase.com/">
            <img src="/photo/Coinbase.svg" height="55px" width="140px">
        </a>

    </div>


    <div class="sources-main">
        <p>Photo Sources:</p>
        https://seeklogo.com/vector-logo/323353/binance-exchange
        <br>

        https://seeklogo.com/vector-logo/323387/bitfinex
        <br>
        https://seeklogo.com/vector-logo/402702/coinbase-new-2021
        <br>

    </div>


    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        var refresh = window.setInterval(function () {
            plusDivs(1)
        }, 5000);


        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("NewCoins");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>


</body>

</html>