<h3>Here are your cryptocurrency holdings.</h3>
<table border="border: 1px solid #333">
    <thead>
        <tr>
            <th>Crypto Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each cryptoholdings}}
        <tr>
            <td>{{this.holdings}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.price}}</td>
            <td>{{this.value}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>



<h3>Crypto Prices</h3>
<table border="border: 1px solid #333">
    <thead>
        <tr>
            <th>Crypto</th>
            <th>price</th>

        </tr>
    </thead>
    <tbody>
        {{#each all_crypto}}
        <tr>
            <td>{{this.crypto_name}}</td>
            <td>{{this.crypto_price}}</td>

        </tr>
        {{/each}}
    </tbody>

</table>





<a href="/">Click here to logout</a>