<style>
    .scroller {
        width: 300px;
        height: 100px;
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }
</style>



<h1>Transaction History</h1>


<div class="scroller">
    <table border="border: 1px solid #333">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Order Type</th>
                <th>Crypto Name</th>
                <th>Amount</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each transaction_history}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.order-type}}</td>
                <td>{{this.holding}}</td>
                <td>{{this.amount}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>

<button onclick="download_csv()">Download CSV</button>


<a href="/home">Click here to home</a>



<script>


    function download_csv() {
        /*
                var data = [
                    ['Foo', 'programmer'],
                    ['Bar', 'bus driver'],
                    ['Moo', 'Reindeer Hunter']
                ];
        
        */
        var tr_set = document.getElementsByTagName("tr");
        for (var i = 0; i < tr_set.length; i++) {
            var records = tr_set[i]
            for (var j = 0; j < records.length; i++) {
                console.log(records[j].textContent)
            }
        }




        /*
                var csv = 'Name,Title\n';
                data.forEach(function (row) {
                    csv += row.join(',');
                    csv += "\n";
                });


        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.target = '_blank';
        hiddenElement.download = 'people.csv';
        hiddenElement.click();
        */
    }
</script>